/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	.footer__name {
		margin-right: 0;
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.header__line {
		width: calc(100% - 120px);
	}

	.intro .social {
		left: 49px;
	}

	.intro__hline--left {
		right: 59px;
	}

	.intro__pattern {
		right: 50px;
	}

	.apply_button {
		right: 50px;
	}

	.animLogo #logo {
		top: 565px !important;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.header__wrapper {
		flex-wrap      : wrap;
		justify-content: center;
	}

	.header__line {
		top: 22%;
	}

	.header__nav {
		margin-right: 0;
		margin-top  : 32px;
		background  : transparent;
		padding     : 0;
	}

	.map {
		margin: 0;
		width : 100%;
	}

	.footer__nav {
		margin-top: 32px;
	}

	.intro .icon {
		top: -10%;
	}

}

/* sm <= Medium (md) */
@media (max-width : 768px) {

	.header__wrapper {
		flex-direction: column;

	}

	.header__nav__btn {
		display: block;
		z-index: 10;
	}

	.header__logo {
		margin-right: auto;
	}

	.header__nav .nav-link {
		padding-left: 0;
	}

	.header__line {
		top: 22px;
	}

	.header__nav {
		margin-left  : auto;
		padding-right: 0;

		opacity   : 0;
		z-index   : -1;
		transition: all 0.5s linear;
		transform : translateX(20px);

	}

	.header__nav.show {
		opacity  : 1;
		z-index  : 10;
		transform: translate(0);
	}

	.header__nav .nav {
		flex-direction: column;

	}

	.intro .social {
		z-index: 120;
		height : calc(100% - 130px);
	}

	.teams__slider {
		/* width  : 320px; */
		z-index: 100;
	}

	.teams__slider .item {
		width     : 301px !important;
		/* padding: 25px; */
	}

	.contact .info__item {
		padding-right: 0;
	}

	.intro__slider .item {
		width: 420px !important
	}

	.animLogo #logo {
		left: 51% !important;
		top : 660px !important;
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.intro__slider {
		width: 317px;
	}

	.header__line {
		width: calc(100% - 42px);
	}

	.animLogo {
		display: none;
	}

	.intro__slider {
		padding-top: 200px;
		z-index    : 15;
	}

	.intro__slider .item {
		width: 301px !important;
	}

	.teams__wrapper {
		z-index: 13;
	}

	.service__item {
		padding: 30px;
	}

	.service__item .__text {
		font-size: 16px;
	}

	.news__header {
		margin-top: -100px;
	}

	.footer__logo {
		flex        : 0 0 100%;
		text-align  : center;
		margin-right: 0;
		order       : -1;
	}

	.footer__name {
		margin-top: 30px;
		text-align: center;
		flex      : 0 0 100%;
		order     : 3;
	}

	.footer__nav .nav {
		flex-direction: column;
		order         : 2
	}

	.footer__nav .nav-link {
		text-align: center;
	}

	.container.container--big {
		padding-left : 20px;
		padding-right: 20px;
	}

	.intro .social {
		left: 10px;
	}

	.intro__hline--left {
		right: 20px;
	}

	.contact__title,
	.news__title,
	.service__title {
		letter-spacing: 0.46em;
	}

	.teams__wrapper {
		height: 680px;
	}
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {}

/* Small (sm) */
@media (min-width : 576px) {}

/* Medium (md) */
@media (min-width : 768px) {}

/* Large (lg) */
@media (min-width : 992px) {}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}

	.container.container--big {
		max-width: 1039px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}

	.container.container--big {
		max-width: 1239px;
	}
}

/* Extra extra large (xxxl) */
@media (min-width : 1600px) {
	.text {
		font-size: 22px;
	}

	.container.container--big {
		max-width: 1639px;
	}
}