/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	.footer__name {
		margin-right: 0;
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.header__wrapper {
		flex-wrap      : wrap;
		justify-content: center;
	}

	.header__wrapper::before {
		top: 20%;
	}

	.header__nav {
		margin-right: 0;
		margin-top  : 32px;
		background  : transparent;
	}

	.map {
		margin: 0;
		width : 100%;
	}

	.footer__nav {
		margin-top: 32px;
	}
}

/* sm <= Medium (md) */
@media (max-width : 768px) {

	.header__wrapper {
		flex-direction: column;

	}

	.header__nav__btn {
		display: block;
	}

	.header__logo {
		margin-right: auto;
	}

	.header__nav .nav-link {
		padding-left: 0;
	}

	.header__wrapper::before {
		top: 22px;
	}

	.header__nav {
		margin-left  : auto;
		padding-right: 0;

		opacity   : 0;
		z-index   : -1;
		transition: all 0.5s linear;
		transform : translateX(20px);

	}

	.header__nav.show {
		opacity: 1;

		transform: translate(0);
	}

	.header__nav .nav {
		flex-direction: column;

	}

	.intro .social {
		z-index: 120;
	}

	.teams__slider {
		width  : 320px;
		z-index: 100;
	}

	.teams__slider .item {
		width: 301px !important;
	}

	.contact .info__item {
		padding-right: 0;
	}


}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.intro__slider {
		width: 317px;
	}

	.animLogo {
		display: none;
	}

	.intro__slider {
		padding-top: 200px;
		z-index    : 15;
	}

	.intro__slider .item {
		width: 301px !important;
	}

	.teams__wrapper {
		z-index: 13;
	}

	.news__header {
		margin-top: -100px;
	}

	.footer__logo {
		flex        : 0 0 100%;
		text-align  : center;
		margin-right: 0;
		order       : -1;
	}

	.footer__name {
		margin-top: 30px;
		text-align: center;
		flex      : 0 0 100%;
		order     : 3;
	}

	.footer__nav .nav {
		flex-direction: column;
		order         : 2
	}

	.footer__nav .nav-link {
		text-align: center;
	}
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {}

/* Small (sm) */
@media (min-width : 576px) {}

/* Medium (md) */
@media (min-width : 768px) {}

/* Large (lg) */
@media (min-width : 992px) {}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}

	.container.container--big {
		max-width: 1639px;
	}
}